<% layout("./layouts/boilerPlate") %>
<div class="row">
    <div class="col-8 offset-2">
        <br><br>
    <h3 class="create-new"><b>Create a new Listing</b></h3>
    <form action="/listings" method="post">
        <div class="mb-3">
            <label for="title-id" class="form-label create-label" >Title</label>
            <input type="text" id="title-id" name="title" placeholder="Add a catchy title" class="form-control shadow">
        </div>
        <div class="mb-3">
            <label for="description-id" class="form-label create-label">Description</label>
            <textarea name="description" id="description-id" placeholder="Description" class="form-control shadow"></textarea>
        </div>
        <div class="mb-3">
            <label for="img-id" class="form-label create-label">Image link</label>
             <input type="text" name="image" id="img-id" placeholder="Enter img-url" class="form-control shadow" >
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="num-id" class="form-label create-label">Price</label>
                <input type="number" id="num-id" placeholder="1200" name="price" class="form-control shadow">
            </div>
            <div class="mb-3 col-md-8">
                <label for="cty-id" class="form-label create-label">Country</label>
                <input type="text" id="cty-id" name="country" placeholder="India"class="form-control shadow">
            </div>
        </div>
         <div class="mb-3 ">
            <label for="loc-id" class="form-label create-label">Location</label>
            <input type="text" name="location" id="loc-id" placeholder="Delhi" class="form-control shadow">
        </div>
        <br>
        <button class="btn  addBtn">Add</button>
        <br><br>
    </form>
</div>
</div>