<% layout("./layouts/boilerPlate") %>
<body>
    <h3>All listings</h3>
    
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <%for(let listing of allListings){%>
            <a href="/listings/<%=listing._id%>" class="listingLink">
            <div class="card col">
                <img src="<%=listing.image%>" class="card-img-top" alt="listing-img" style="height: 20rem;">

                <div class="card-img-overlay d-flex justify-content-end align-items-start">
                    <button class="btn btn-light btn-sm rounded-circle favorite-btn" onclick="event.stopPropagation(); event.preventDefault(); toggleHeart(this);">
                    <i class="fa-regular fa-heart fa-2x"></i>
                    </button>
                </div>

                    <div class="card-body">
                        <h5 class="card-title"><b><%=listing.title%></b></h5>
                        <p class="card-text">&#8377;<%=listing.price.toLocaleString("en-IN")%>/night</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
            </div>
            </a>
        <%}%>
    </div>

 <script>
  function toggleHeart(button) {
    const icon = button.querySelector('i');
    icon.classList.toggle('fa-regular');
    icon.classList.toggle('fa-solid');
    icon.classList.toggle('text-danger');
  }
</script>
</body>
